// /********************************************
// 				NEWS
// ********************************************/

.news {
	padding-bottom: 60px;
	color: $text-color;

	@media (min-width: $break_sm) {
		padding-top: 38px;
		padding-bottom: 151px;
	}
}

.single-news {
	padding-top: 5px;
	padding-bottom: 3px;

	&__time {
	
		text-align: center;

		@media (min-width: $break_sm) {
			float: left;
			margin-right: 10px;
			padding-left: 10px;
			padding-right: 22px;
		}

		@media (min-width: $break_md) {
			padding-left: 45px;
		}

		@media (min-width: $break_lg) {
			padding-left: 86px;
		}
	}

	&__date {
		color: $primary-color;
		font-size: 68px;
		line-height: 85px;
	}

	&__month {
		min-width: 78px;

		font-size: 13px;
	}

	&__description {
		overflow: hidden;
		margin-top: 25px;
		padding-bottom: 13px;
		border-bottom: 2px solid #edf2f6;

		font-size: 13px;
		text-align: right;

		@media (min-width: $break_sm) {
			margin-top: 36px;
		}

		@media (min-width: $break_lg) {
			width: 69.2%;
		}
	}

	&__text {
		margin: 0 0 25px;
		font-weight: $weight-light;
		line-height: 16px;
		text-align: justify;

		@media (min-width: $break_sm) {
			margin: 0 0 37px;
		}
	}

	&__link {
		color: $primary-color;
	}
}