// /********************************************
// 				CONTACT FORM
// ********************************************/
.contact {
	padding-bottom: 50px;

	@media (min-width: $break_sm) {
		padding-bottom: 91px;
	}
}

.form {
	
	&__wrapper {
		margin-bottom: 40px;
		position: relative;

		&:after {
		    content: "";
		    display: block;
		    height: 10px;
		    border: 2px solid #Fff;
		    position: relative;
		    bottom: 6px;
		    left: -3px;
		    margin-right: -6px;
		    border-top: 0;
		}
	}

	&__input {
		width: 100%;
		padding: 18px 28px 11px;

		border: 0;
		border-radius: 0;
		background-color: transparent;
		color: #fff;
		
		font-weight: $weight-light;

		-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

	    &:-ms-input-placeholder      {color:#fff;}
		&::-webkit-input-placeholder {color:#fff;}
		&:-moz-placeholder           {color:#fff;}/* Firefox 18- */
		&::-moz-placeholder          {color:#fff;}/* Firefox 19+ */
		
		&:focus {
		    border-color: #66afe9;
		    outline: 0;
		    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
		    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
		}
	}

	&__message {
		margin-top: 13px;
		margin-bottom: 13px;

		@media (min-width: $break_sm) {
			margin-top: 31px;
			margin-bottom: 0;
		}
	}


	&__warning-text {
		position: absolute;
		top: 100%;
		left: 5px;
		margin-top: 5px;

		color: #ff3333;
		font-size: 13px;
	}

	&__commands {
		margin-top: 40px;
		text-align: center;

		@media (min-width: $break_sm) {
			margin-top: 30px;
			text-align: right;
		}
	}

	&__submit {
		padding: 13px 36px 15px;
		text-transform: none;
	}
}