/* header */

.header {
	position: fixed;
	width: 100%;
	padding: 5px 0 10px;
	z-index: 10;

	border-radius: 0;

	background-color: $bgtransparent;

	transition: all 0.5s;

	@media (min-width: $break_sm) {
		padding: 15px 0 24px;
	}

	&_scrolled {
		background: rgba(19, 19, 22, 0.8);
		
		@media (min-width: $break_sm) {
			padding: 3px 0 8px;
		}

		// transition: all 0.5s ease-out 0.5s;
	}

	&__logo {
		float: left;
		
		img {
			height: 40px;

			@media (min-width: $break_sm) {
				height: auto;
			}
		}
		
	}

	&__navigation {
		padding: 0;

		@media (min-width: $break_sm) {
			float: right;
		}
	}
}