// /********************************************
// 				CIRCLE
// ********************************************/

.circle {
	background: #FFCF03;
	display: inline-block;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	text-align: center;
	line-height: 50px;

	&_left {
		float: left;
	}

	&_l {
		width: 106px;
		height: 106px;

		.fa {
			line-height: 105px;
			color: #fff;
		}
	}

	&_m {
		width: 70px;
		height: 70px;
	}
}
