// /********************************************
// 				TEAM
// ********************************************/

.team {
	text-align: center;

	&__list {
		padding: 3px 0 0;
	}

	&__item {
		max-width: 420px;
		margin-bottom: 60px;
		
		transition: box-shadow 0.5s;

		@media (max-width: $break_sm - 1) {
			margin: 0 auto 60px;
		}

		&:hover {
			box-shadow: 0 0 8px 3px rgba(0, 225, 255, 0.5);
		}

	}

	&__member {
		position: relative;
		display: block;
		background-color: #fff;

		img {
			margin: 0 auto;
		}
	}

	&__image-container {
		// height: 139px;
		background-color: #252726;
		position: relative;
	}

	&__info {

		background-color: rgba(28, 29, 30, 0.66);
		padding: 0 0 11px;

		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
	}

	&__name {
		display: block;
		color: $primary-color;
		font-size: 20px;
		font-weight: $weight-medium;
		line-height: 30px;
	}

	&__title {
		color: #fff;
		font-size: 13px;
		font-weight: $weight-medium;
	}

	&__text {
		margin: 0;
		padding: 32px 20px 24px;
		background-color: #f7f7f7;
		color: $text-color;

		font-size: 13px;
		font-weight: $weight-light;
		line-height: 16px;
	}
}