
// /********************************************
// 				BX SLIDER
// ********************************************/

.text-slider-wrapper .bx-wrapper .bx-prev {
	left: 10px;
}
.text-slider-wrapper .bx-wrapper .bx-next {
	right: 10px;
}

.text-slider-wrapper .bx-wrapper .bx-controls-direction a {
	position: absolute;
	opacity: 0;
	top: 50%;
	margin-top: -16px;
	outline: 0;
	width: 32px;
	height: 32px;
	z-index: 9999;
}
.text-slider-wrapper .bx-wrapper:hover .bx-controls-direction a {
	opacity: 1;
}
.text-slider-wrapper .bx-wrapper .bx-controls-direction a.disabled {
	display: none;
}


// /********************************************
// 				BX-SLIDER
// ********************************************/

.bx-wrapper {
	padding: 54px 0;

	&_quote {
		padding: 52px 0;
	}
}


.bx-wrapper .bx-pager {
    text-align: center;
}

.bx-wrapper .bx-pager .bx-pager-item, 
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
    display: inline-block;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover, 
.bx-wrapper .bx-pager.bx-default-pager a.active {
    background: #ffe600;
}
.bx-wrapper .bx-pager.bx-default-pager a {
    background: #fff;
    text-indent: -9999px;
    display: block;
    width: 5px;
    height: 5px;
    margin: 0 2px;
    outline: 0;
}

.bx-controls-direction {
	position: relative;
}
