// /********************************************
// 				TEAM
// ********************************************/

.team {
	position: relative;
	text-align: center;
	text-transform: uppercase;

	&__list {
		padding: 3px 0 43px;
	}

	&__member {
		position: relative;
		display: block;
		margin-bottom: 40px;
		border-bottom: 2px solid $gray;
		background-color: #fff;

		img {
			margin: 0 auto;
		}

		@media (min-width: $break_md) {
			margin-bottom: 20px;
		}

		&_active {
			&:after {
			    -moz-border-bottom-colors: none;
			    -moz-border-left-colors: none;
			    -moz-border-right-colors: none;
			    -moz-border-top-colors: none;
			    border-color: transparent transparent #131313;
			    border-image: none;
			    border-style: solid;
			    border-left-width: 25px;
			    border-right-width: 25px;
			    border-bottom-width: 18px;
			    content: " ";
			    height: 0;
			    left: 50%;
			    margin: 44px 0 0 -25px;
			    pointer-events: none;
			    position: absolute;
			    top: auto;
			    width: 0;
			}
		}
	}

	&__info {
		padding: 13px 0 12px;
	}

	&__name {
		display: block;
		margin-bottom: 4px;
		color: $yellow;
		font-size: 20px;
	}

	&__title {
		color: $light-gray;
		font-size: 16px;
	}

	&__extra {
		// position: absolute;
		padding: 44px 0 42px;

		background-color: rgb(19,18,23);
		text-align: left;
	}
}