// /********************************************
// 				COMMON STYLES
// ********************************************/

* {
	box-sizing: border-box;
}

.clearfix:after {
	content: '';
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.clearfix:before {
    display: table;
    content: '';
}

body {
	margin: 0;
	font-family: 'Raleway', Helvetica, Arial, sans-serif;
	font-weight: $weight-normal;
}

a {
	transition: color 0.3s;
}

// Footer always bottom
html,
body {
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content-wrapper {
  flex: 1 0 auto;
}

.footer {
	flex: 0 0 auto;
}
// -----------------------


.link {

	&:hover,
	&:active,
	&:focus {
		text-decoration: none;
	}
	
	&_primary-color,
	&.link_active {
		color: $primary-color;
	}
}

.gray {
	background: #fbfbfb;
}

.white {
	color: #fff;
}

.dark {
	background-color: $section-dark-bg;
}


.container {
	@media (min-width: 1200px) {
		width: 1200px;
	}
}

.divider {
	text-align: center;
	margin-top: 8px;

	& > span {
		display: inline-block;
		width: 170px;
		background: $primary-color;
		height: 2px;
	}
}

.description {
	margin: 15px auto 3px;
	color: $light-gray;

	font-size: 16px;
	font-weight: 300;
	line-height: 25px;

	&_mini {
		margin: 22px auto 2px;
		line-height: 20px;
	}

	&_about {
		margin: 9px auto 0;
	}

	&_bio {
		margin: 18px auto 22px;
		text-transform: none;
	}
}





// /********************************************
// 				BOOTSTRAP CUSTOM
// ********************************************/

.navbar-nav > li > a {
    padding: 10px 6px;

    &:focus,
	&:active {
		color: $primary-color;
		background-color: transparent;
	}
}

.navbar-toggle {
	border: 1px solid $primary-color;
}

.icon-bar {
	background-color: $secondary-color;
}

.btn {
	border-radius: 0;
	padding: 10px 35px;
	background-color: transparent;
	font-size: 15px;

	&:hover,
	&:active {
		background-color: transparent;
		border-color: $primary-color;
	}
}

.btn-primary {
	color: #fff;
	background: transparent;
	border: 1px solid #fff;
	display: inline-block;
	padding: 13px 40px 16px;
	position: relative;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	font-size: 14px;
	text-transform: uppercase;

	transition: all 0.3s;
	
	&:hover {
		background-color: $primary-color;
		border-color: #fff;
		color: #fff;
	}
}

.form-control {
    height: 57px;
}

.form-group {
	margin: 0;
}




// /********************************************
// 				LIST
// ********************************************/

.list {
	margin: 0;
	padding: 10px 0 7px;
	list-style-type: none;

	&__item  {
		display: inline-block;
		margin-left: 8px;

		@media (min-width: $break_sm) {
			margin-left: 16px;
		}

		&:first-child {
			margin-left: 0;
		}
	}

	&__link {
		display: inline-block;
		padding: 11px 5px;

		color: #000;
		font-size: 16px;
		text-transform: uppercase;

		&:hover {
			color: $primary-color;
		}
	}
}


.map {
	position: relative;
	height: 320px;

	background-color: #252726;

	@media (min-width: $break_sm) {
		height: 400px;
	}
}

.map-tooltip {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 200;

	width: 270px;
	padding: 6px 18px 18px;
	background-color: $primary-color;
	color: #fff;
	text-align: center;

	@media (min-width: 480px) {
		width: 370px;
	}

	
	&__text {
		display: inline-block;
		width: 100%;
		margin: 10px 0;
	
		color: #fff;
		font-size: 15px;
		font-weight: $weight-medium;

		&:hover {
			text-decoration: none;
		}
	}

	&:after {
		content: "";
		width: 0;
		height: 0;

		position: absolute;
		top: 100%;
	    left: 50%;
	    margin: -1px 0 0 -13px;

	    pointer-events: none;
	    
	  	border-top-width: 13px;
	    border-left-width: 13px;
	    border-right-width: 13px;
	    border-color:  $primary-color transparent transparent;
	    border-image: none;
	    border-style: solid;
	}
}






// /********************************************
// 				FOOTER
// ********************************************/

.footer {
	padding: 24px 0 18px;
	background-color: #131316;
	color: #fff;

	font-size: 15px;
	line-height: 20px;
	text-align: center;

	@media (min-width: $break_sm) {
		padding: 44px 0 38px;
	}

	&__link {
		color: $primary-color;

		&:hover {
			text-decoration: none;
		}
	}
}

.to-top {

	&__icon {
		display: inline-block;
		width: 30px;
		height: 30px;
		margin-right: 20px;

		border: 1px solid #fff;
		border-radius: 50%;

		transition: all .3s;

		&:hover {
			background-color: $primary-color;
		}

		&:before {
			content: '';
			display: inline-block;
			width: 22px;
			height: 18px;
			background: transparent url('../img/icon-arrow-up.png') left 1px no-repeat;
		}
	}
}
