// /********************************************
// 				NAVIGAION
// ********************************************/

.navigation {

	padding: 0;

	&__item  {
		display: inline-block;

		text-align: center;

		@media (min-width: $break_sm) {
			margin-left: 18px;

			&:first-child {
				margin-left: 0;
			}
		}

		@media (min-width: $break_md) {
			margin-left: 28px;
		}
	}

	&__link {
		display: inline-block;
		padding: 11px 5px;

		color: $secondary-color;
		font-size: 14px;
		font-weight: $weight-light;
		line-height: 18px;
		text-transform: uppercase;

		transition: border 0.1s, color 0.3s;

		@media (min-width: $break_sm) {
			min-width: 70px;
		}

		&:hover,
		&_active {
			color: $primary-color;

			@media (min-width: $break_sm) {
				border-bottom: 2px solid $primary-color;
			}
		}

		.navigation & {
			padding: 15px 0px;

			@media (min-width: $break_sm) {
				padding: 38px 0px 40px;
			}
		}

	}

	&__item &__link {
		&:hover {
			background-color: transparent;
		}
	}
}


