// /********************************************
// 				SERVICE
// ********************************************/

.service {
	padding-top: 70px;
	padding-bottom: 40px;

	text-align: center;

	@media (min-width: $break_sm) {
		padding-top: 130px;
		padding-bottom: 79px;
	}

	&__item {

		margin-bottom: 60px;

		&:hover {
			cursor: pointer;
		}

		&:after {
			content: "";
			display: block;
			width: 70px;
			
			margin: 20px auto 0;
			border-top: 2px solid $primary-color;
		}

		&_selected:after {
			height: 63px;
			border-left: 2px solid $primary-color;
			border-right: 2px solid $primary-color;
			border-bottom: 2px solid #fff;

			&:first-child {
				border-left: none;
			}
		}
		
		@media (min-width: $break_sm) {
			margin-bottom: 0;

			&_selected-left:after {
				border-left: none;
			}

			&_selected-right:after {
				border-right: none;
			}
		}
	}

	&__title {
		margin-top: 15px;
		margin-bottom: 10px;
		
		color: $secondary-color;

		font-size: 15px;
		text-transform: uppercase;

		@media (min-width: $break_sm) {
			margin-top: 36px;
		}
	}

	&__text {
		width: 100%;
		margin: -2px auto 0;
		padding: 30px;

		
		@media (min-width: $break_sm) {
			width: 88%;
			padding: 44px 40px 40px 75px;
		}

		@media (min-width: $break_md) {
			width: 84%;
		}

		@media (min-width: $break_lg) {
			width: 82%;
		}

		border-top: 2px solid $primary-color;
		color: $text-color;
		font-size: 15px;
		line-height: 18px;
		font-weight: $weight-light;
		text-align: left;	
	}
}

.service-description {
	padding: 50px 0;

	@media (min-width: $break_sm) {
		padding-top: 52px;
		padding-bottom: 99px;
	}

	&__btn-group {
		display: block;
		width: 100%;
		margin-bottom: 50px;

		@media (min-width: $break_sm) {
			margin-bottom: 85px;
		}

	}

	&__btn {
		width: 50%;
		padding: 12px 5px 15px;
		border: 1px solid #c8cdce;

		background-color: transparent;

		font-size: 14px;
		font-weight: $weight-medium;
		text-transform: uppercase;

		transition: border 0.5s;

		@media (min-width: $break_sm) {
			padding: 12px 35px 15px;
		}

		&:hover {
			background-color: transparent;
			color: $secondary-color;
			border: 1px solid $primary-color;
		}

		&_selected {
			border: 1px solid $primary-color;

			&:before, 
			&:after {
			    content: ''; 
			    position: absolute;
			    left: 47.5%; 
			    bottom: -20px;

			    border: 10px solid transparent;
			    border-top: 10px solid $primary-color;
			}
			 
			&:after {
			    border-top: 10px solid #fbfbfb;
			    bottom: -19px; 
			}
		}
	}

	&__image-container {
		padding: 0 30px;
	}

	&__image {

		display: block;
		margin: 0 auto;

		@media (min-width: $break_md) {
			margin-left: 15%;
		}

		@media (min-width: $break_lg) {
			margin-left: 24%;
		}
	}

	&__title {
		margin-top: 35px;
		margin-bottom: 15px;
		font-size: 32px;

		@media (min-width: $break_sm) {
			margin-top: 27px;
			margin-bottom: 31px;
			font-size: 40px;
		}
	}

	&__text {
		margin: 0;
		color: $text-color;

		font-size: 15px;
		font-weight: $weight-light;
		line-height: 18px;
	}

	&__button {
		display: block;
		width: 171px;
		margin: 36px auto 0;
		padding: 15px 10px 14px;
		border-color: $primary-color;
		color: $primary-color;

		@media (min-width: $break_sm) {
			display: inline-block;
		}

		&:hover {
			color: #fff;
		}
	}
}