// /********************************************
// 				PROUD NUMBERS
// ********************************************/

.proud-numbers {
	padding-top: 60px;
	padding-bottom: 20px;

	color: #fff;
	text-align: center;

	@media (min-width: $break_sm) {
		padding-top: 72px;
	}

	&__number {
		margin-top: 20px;
		margin-bottom: 19px;

		font-size: 36px;
		font-weight: $weight-light;

		@media (min-width: $break_sm) {
			margin-top: 31px;
		}

		@media (min-width: $break_md) {
			font-size: 40px;
		}
	}

	&__item {
		margin-bottom: 60px;
	}

	&__title {
		margin: 0;
		font-size: 13px;
		font-weight: $weight-medium;
		text-transform: uppercase;
	}
}